<nav class="fs-grid">
  <div class="fs-row">
    <div class="fs-cell fs-lg-half">

    </div>
  </div>
</nav>

{% schema %}
  {
    "name": "Product",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_breadcrumbs",
        "label": "Enable Breadcrumbs",
        "default": false
      }
    ]
  }
{% endschema %}