<div class="page">
  <div class="wrapper">
    <div class="fs-row">
      <div class="fs-cell fs-lg-7 fs-md-5 fs-all-justify-center">
        <h1>{{ page.title }}</h1>
        <div class="rte">
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
</div>
